/* ==========================================================================
 	Header
 ========================================================================== */
 .navbar-default .navbar-toggle {
 	border-color:#00a651;
 }

 .navbar-default .navbar-toggle .icon-bar{
 	background-color: #00a651;
 }
#header .navbar-default {
    padding: 4px 0;
    background: #fff;
    border: none;
 }

.navbar-brand {
	padding: 6px 15px;
	height: inherit;
}

.navbar {
	margin: 0;
}

.nav li a,
.navbar-default .navbar-nav>li>a {
	background-color: transparent;
	font-weight: 500;
	font-size: 14px;
	color: #0a0a0a;
	padding: 15px 12px;
	text-transform: uppercase;
}

.nav li a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
 .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
	background-color: transparent;
	color: #00a651;
}


.dropdown-menu {
	border-radius: 0;
}

.navbar-nav .dropdown-menu>li>a {
	padding: 6px 20px;
	font-size:13px;
}

.dropdown-menu>li>a,
.dropdown-menu>li>a:hover {
	background-color:transparent;
}

.nav-right {
	margin-top: 4px;
	text-align: right;
}

.language-dropdown {
	display:inline;
	margin-right: 10px;
}

.language-dropdown a {
	font-size: 16px;
	color: #252525;
	line-height: 23px;
}

.language-dropdown a i {
	margin-left: 5px;
}

.language-dropdown a:hover {
	color:#00a651;
}

.language-dropdown li>a {
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    color: #333;
}

.sign-in {
	display:inline;
}

.sign-in li {
	display:inline-block;
	margin-top: 10px;
}

.language-dropdown i.fa-globe,
.sign-in li i {
	font-size: 14px;
	color: #00a651;
	margin-right: 5px;
}

.sign-in li:last-child {
	position: relative;
	padding-left: 10px;
}

.sign-in li:last-child:before {
	position: absolute;
	left: 0;
	top: 50%;
	background-image: url(../img/1.png);
	background-repeat: no-repeat;
	width: 7px;
	height: 14px;
	content:"";
	margin-top: -7px;
}

.nav-right .dropdown-menu {
    margin: 18px 0 20px;
}

.nav-right .dropdown-menu li a:hover {
	color: #00a651;
	background-color: transparent;
}

.sign-in li a {
	color: #000000;
	font-size: 14px;
}

.sign-in li a:hover {
	color: #00a651;
}

#header a.btn,
.download-button a.btn {
	padding: 5px 25px 7px;
	background-color: #0072bc;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	margin-left: 20px;
}

#header a.btn:hover,
.download-button a.btn:hover {
	background-color: #00a651;
}

.badge {
	background-color: #00a651;
	margin-left: 5px;
	font-size: 10px;
	font-weight: 500;
	padding-bottom: 2px;
}
