.notification li {
  padding: 5px 0;
}

.profile-details .upload-image {
  float: right;
  background-color: #0072bc;
  color: #fff;
  width: 29%;
  text-align: center;
  cursor: pointer;
  display: block;
  padding: 12px 10px 10px;
  border-radius: 30px;
}

.profile-details .upload-image input {
  display: none;
}

.profile-details .time-period input {
  width: 47%;
  display: inline-block;
}

.profile-details .time-period span {
  margin-left: 13px;
}

img.company-logo {
  width: 80px;
  height: 80px;
  margin-left: 70px;
  border-radius: 50%;
}

.caption {
  background-color: #fff !important;
  color: #000 !important;
}