.notification li {
  padding: 5px 0;
}

.profile-details .upload-image {
  float: right;
  background-color: #0072bc;
  color: #fff;
  width: 29%;
  text-align: center;
  cursor: pointer;
  display: block;
  padding: 12px 10px 10px;
  border-radius: 30px;
}

.profile-details .upload-image input {
  display: none;
}

.profile-details .time-period input {
  width: 47%;
  display: inline-block;
}

.profile-details .time-period span {
  margin-left: 13px;
}

img.company-logo {
  width: 90px;
  height: 90px;
}

.caption {
  background-color: #fff !important;
  color: #000 !important;
}
.span {
        float: right;
        margin-right: 6px;
        margin-top: -20px;
        position: relative;
        z-index: 2;
        color: red;
    }
