.user-photo {
  width: 151px;
  height: 151px;
}

.no-resume {
  text-align: center;
  padding-top: 50px;
}
.no-resume a {
  padding: 20px 10px;
  background-color: #00a651;
  color: white;
  font-size: 18px;
  border-radius: 4px;
}

.download-resume-photo {
  padding: 5px 25px 7px;
  background-color: #0072bc;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-left: 20px;
}